body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #667f67;
	margin:0px;
	border:0px;
}

input, select {
	background-color: #ffffff;
}

h1 {
	background-color: #ccffcc;
	margin:0px;
	padding: 5px 5px 5px 15px;
}

h2 {
	background-color: #3f7f43;
	color: #ffffff;
	border:0px;
	margin:0px;
	padding:5px 5px 5px 15px;
}

h3 {
	padding: 5px 5px 5px 15px;
}

th {
	text-align: left;
	background-color: #a3cca5;
}

td {
	text-align: left;
	background-color: #eee;
}

p, table {
	padding: 5px 5px 5px 15px;
	font-size: 9pt;
}


.button { 
	-moz-border-radius: 10px;
	background-color: #7fff86;
	font-weight: bold;
	padding: 5px;
	margin: 2px;
}

li {
	color: #ffffff;
}

a {
	color: #ccffcc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}